@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}

#tabpanel1, #tabpanel2, #tabpanel3 {
	border: 1px solid grey;
	padding-top: -80px;
}

ul {
	display: flex;
	gap: 1px;
	list-style: none;
}

li {
	padding: 10px 20px;
	cursor: pointer;
	background-color: grey;
	font-weight: bold;
	color: black;
	border: 1px solid black;
	border-radius: 5px 5px 0 0;
}

li:hover {
	background-color: white;
	color: black;
}

.tabs a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: black;
}

/* source https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/checkbox_role*/
[role="tabpanel"] {
	display: none;
	padding: 15px;
} 

[role="tabpanel"]:active {
    display: block;
}

.tabpanel:target {
    display: block;
}

