@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Six+Caps&display=swap');

html {
    font-size: 120%;
    background-color: white;
}

body {
     line-height: 1.4;
}

/* head */
.editorial {
    

}

h1 {
    font-family: "Six Caps", serif;
    letter-spacing: 2rem;
}

